<div ng-show="!main.isNew">
	<!-- TODO: Crirar validaçao nos formuĺários -->
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Produtos</h4>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<tbody>
						<tr ng-repeat="item in main.itens">
							<td>{{item.codigo}}</td>
							<td>{{item.nome | uppercase}}</td>
							<td>{{item.quantidade}}</td>
						</tr>
						<tr ng-show="!main.itens">
							<td colspan="4" align="center">Nenhum item lançado</td>
						</tr>
						<tr ng-show="main.itens">
							<th colspan="2">Total:</th>
							<th>{{main.total}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h4>Clientes sem compra na semana</h4>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<tbody>
						<tr ng-repeat="cliente in main.clientesSemCompra">
							<td>{{cliente.nome | uppercase}}</td>
							<td>{{cliente.bairro | uppercase}}</td>
							<td>{{cliente.telefone}}</td>
							<td>{{cliente.responsavel | uppercase}}</td>
						</tr>
						<tr>
							<td ng-show='!main.clientesSemCompra' colspan="4" align="center">Nenhum cliente sem compra</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	

	<div class="panel panel-success col-md-12" style="padding:10px">
		<div class="panel-heading">
			<button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#modal-novo-recibo" ng-click="main.novoRecibo()"><span class="glyphicon glyphicon-plus"></span></button>
			<h4>Recibo</h4>
		</div>
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="10%" style="text-align:center;">Recibo</th>
						<th>Cliente</th>
						<th width="10%" style="text-align:center;">Data</th>
						<th width="10%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='recibo in main.recibos'>
						<td style="text-align:center;">{{recibo.numero}}</td>
						<td>{{recibo.cliente.nome | uppercase}}</td>
						<td style="text-align:center;">{{recibo.data | date: "dd/MM/y"}}</td>
						<td style="text-align:center;">
							<!-- TODO: Criar funções 'Visualizar', 'Alterar', 'Excluir' Recibos no controller angular -->
							<button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-th"></span></button>
							<button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="btn btn-danger btn-sm" ng-click="main.deletar_recibo($index)"><span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
					<tr>
						<td ng-show='!main.recibos' colspan="4" align="center">Nenhum recibo registrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- MODAL: NOVO RECIBO -->
<div class="modal fade" id="modal-novo-recibo" tabindex="-1" role="dialog" aria-labelledby="modal-novo-recibo-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-novo-recibo-label">Novo Recibo</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>Selecione o Cliente</h5>
					</div>
					<div class="panel-body">
						<input class="form-control" placeholder="Pesquisar Cliente" ng-modal="clienteFilter"></input>
						<table class="table table-hover">
							<thead>
								<th>Cliente</th>
								<th>Bairro</th>
								<th>Endereço</th>
								<th align="right"></th>
							</thead>
							<tbody>
								<tr ng-repeat="cliente in main.clientes">
									<td>{{cliente.nome | uppercase}}</td>
									<td>{{cliente.endereco.bairro | uppercase}}</td>
									<td>{{cliente.endereco.logradouro | uppercase}}</td>
									<td align="right">
										<button class="btn btn-info btn-sm" ng-click="main.selecionarCliente(cliente)" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button>
									</td>
								</tr>
								<tr>
									<td colspan="4" align="center" ng-show="!main.clientes">Nenhum cliente carregado!</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="main.isNew">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 style="margin-top:10px">Novo Recibo</h3>
		</div>

		<div class="panel-body">
			<div class="panel panel-info">
				<div class="panel-heading"><h2>Recibo</h2></div>
				<div class="panel-body">
					<div class="col-md-4">
						<div class="form-group">
							<label>Nº</label> {{main.recibo.numero}}
						</div>
						<div class="form-group">
							<label>Data</label> {{main.recibo.data | date : "dd/MM/y"}}
						</div>
						<div class="form-group" ng-show="false">
							<label>Notas</label> 17123, 17358 <!-- TODO: Exiber, caso seja uma visualização do recibo -->
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>Cliente</label> {{main.recibo.cliente.nome | uppercase}}
						</div>
						<div class="form-group">
							<label>Bairro</label> {{main.recibo.cliente.bairro | uppercase}}
						</div>
						<div class="form-group">
							<label>Endereço</label> {{main.recibo.cliente.logradouro | uppercase}}
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>Responsável</label> {{main.recibo.cliente.responsavel | uppercase}}
						</div>
						<div class="form-group">
							<label>Telefone</label> {{main.recibo.cliente.telefone}} / {{main.cliente.celular}}
						</div>
						<div class="form-group">
							<label>E-mail</label> {{main.recibo.cliente.email}}
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading form-inline">
					<div class="form-group">
						<label for='produto'>Produto</label>
						<input id='produto' class="form-control" placeholder="Produto" ng-blur='main.buscarProduto()' ng-model='main.searchProduto'>
					</div>
					<div class="form-group">
						<label for='quantidade'>Quantidade</label>
						<input id='quantidade' class="form-control" placeholder="Quantidade" ng-model='main.item.quantidade'>
					</div>
					<button class="btn btn-info btn-sm" ng-disabled='!main.item || !main.item.quantidade' ng-click="main.inserir()">Inserir</button>

					<div style="float:right" ng-show='main.item.produto'>
						<label>Disponível:</label>  {{main.disponivel}}
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<th>Código</th>
							<th>Produto</th>
							<th>Quantidade</th>
							<th></th>
						</thead>
						<tbody>
							<tr ng-repeat='item in main.recibo.itens'>
								<td>{{item.produto.codigo}}</td>
								<td>{{item.produto.nome}}</td>
								<td>{{item.quantidade}}</td>
								<td align="right">
									<!-- TODO: Crirar funções 'Alterar' e 'Excluir' item do Recibo no controller angular -->
									<button class="btn btn-warning btn-sm">Alterar</button>
									<button class="btn btn-danger btn-sm" ng-click='main.deletar_item_recibo($index)'>Excluír</button>
								</td>
							</tr>
							<tr ng-show="!main.recibo.itens">
								<td colspan="4" align="center">Nenhum produto inserido</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="panel-footer" align="right">
			<button class="btn btn-default" ng-click="main.cancelar()">Cancelar</button>
			<!-- TODO: Criar função 'Salvar Recibo' no controller angular -->
			<button class="btn btn-primary" ng-disabled="!main.itens" ng-click="main.salvar()">Salvar</button>
		</div>
	</div>	
</div>